<div class="pull-left form_container">
  <div id="item_form">
  <%= form_for(item, :remote => remote) do |f| %>
   <%= f.text_field :item_kind_name, :data => {:autocomplete_source => item_kinds_path }, :placeholder => "What's in your fridge, pantry or freezer?" %>
    <%= f.select :storage, (insert_storage_options) %>
  </div>
    <%= f.button raw("<span>Add</span>"), :class => "btn btn-danger"%>
  <% end %>

</div>

<%= link_to new_image_path, :class => "receipt" do %>
    <span>Upload Receipt</span>
<%end%>


<!-- <div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Upload the image of your receipt</h3>
  </div>
  <div class="modal-body">
    This is where the partial form should go
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a href="#" class="btn btn-primary add-image">Add Items from My Receipt</a>
  </div>
</div> -->


