<li id="<%= item.id %>">
		<p>
      <%= item.item_kind_id %><%= item.item_kind.name unless item.item_kind.nil? %> 
    </p>
    <%= get_storage_badge(item.storage) %>
    <div class="controls">
      <%= text_field_tag :expiration, item.expiration.to_s, :class => 'expiration', :id => "expiration#{item.id}"%>
      <%= link_to item_path(item.id), :method => :delete, :remote => true, :class => "delete" do%>
      	<span>Remove</span>
      <%end%>
    </div>
</li>