<li><p>
      <%= item.item_kind.name unless item.item_kind.nil? %> <%= get_storage_badge(item.storage) %>
      <div class="controls">
        expires at <%= text_field_tag :expiration, item.expiration.to_s, :class => 'expiration' %>
        expires at <span class="date"><%= item.expiration.to_s %></span>
        <%= link_to 'Remove', item_path(item.id), :method => :delete %>
      </div>
    </p>
</li>